/* General Style */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gold;
}

/* Header */
header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: maroon;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer */
footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: maroon;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

/* Main Content */
main {
    display: flex; /* Ensure main spans the full width */
    justify-content: center; /* Centers the grid on the screen */
    width: 100%;
    padding: 1rem;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
    grid-template-rows: auto auto auto auto; /* Adjusts row height automatically */
    gap: 0px; /* No space between grid items */
    width: 100%; /* Makes grid take up the full screen */
    padding: 0;
    margin: 0;
}

/* Grid Items - Default Style */
.grid-item {
    background-color: gold;
    color: black;
    display: flex;
    flex-wrap: wtap;
    justify-content: left;
    align-items: flex-start;
    font-size: small;
    padding: 10px;
}

/* Specific Row Layout */

/* Row 1: Two Columns */
.assets {
    grid-column: 1 / span 2; /* Occupies the first two columns */
    background-color: black; /* Black background instead of gold*/
    color: white; /* White text instead of black*/
}
.liabilities {
    grid-column: 3 / span 2; /* Occupies the last two columns */
    background-color: black; /* Black background instead of gold*/
    color: white; /* White text instead of black*/
}

/* Row 2: Four Columns */
.current-assets {
    grid-column: 1; /* Starts in column 1 */
}
.current-assets-item {
    grid-column: 2; /* Starts in column 2 */
}
.current-liabilities {
    grid-column: 3; /* Starts in column 3 */
}
.current-liabilities-item {
    grid-column: 4; /* Starts in column 4 */
}

/* Row 3: Four Columns */
.investments {
    grid-column: 1;
}
.investments-item {
    grid-column: 2;
}
.long-term-liabilities {
    grid-column: 3;
}
.long-term-liabilites-item {
    grid-column: 4;
}

/* Row 4: Four Columns */
.intangibles {
    grid-column: 1;
}
.intangibles-item {
    grid-column: 2;
}
.total-position {
    grid-column: 3;
   /* margin-bottom: 10px; /* Create space from position-details*/
}
.blank-space {
    grid-column: 4;
}

.position-details {
    font-size: 1rem; /* Smaller text size */
}

.position-assets {
    font-size: 1rem; /* Smaller text size */
}

.position-liabilities {
    font-size: 1rem; /* Smaller text size */
}

.position-total {
    font-size: 1rem; /* Smaller text size */
}

/* Buttons */
button {
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}



